[submodule "external/nuscenes-devkit"]
	path = external/nuscenes-devkit
	url = git@github.com:nutonomy/nuscenes-devkit.git
[submodule "external/av2-api"]
	path = external/av2-api
	url = git@github.com:argoverse/av2-api.git
